<div class="container">
  
  <p>A continuación, se muestran las distintas competencias, en un cuadro de doble entrada: los <emph>años</emph> por filas, y los <emph>tipos de certámenes</emph> por columnas.</p>

  <p>Con el botón de un año (fila) particular, se filtran todos los problemas de ese año.</p>

  <p>Con el botón de un tipo de certamen (los de la fila "Todos los años:") particular, se filtran todos los problemas de ese tipo de certamen, sin importar el año.</p>

  <p>Con el botón de un tipo de certamen particular en un cierto año, se filtran solamente los de esa competencia exacta.</p>
    
  <div class="tag-group">
      <table style="border-spacing : 5px 8px;">
      <tr>
          <td>Todos los años:</td>
          <td ng-repeat="contest in nationalContests">
          <a ui-sref="tasklist.page({tag: 'certamen:' + contest, pageNum: 1})" class="label btn-info">
            <i class="fa fa-tag"></i>
            {{contest}}
          </a>
          </td>
      </tr>
      <tr ng-repeat="year in years">
          <td><a ui-sref="tasklist.page({tag: 'año:' + year, pageNum: 1})" class="label btn-info">
            <i class="fa fa-tag"></i>
            Año {{year}}:
          </a></td>
          <td ng-repeat="contest in nationalContests">
          <a ng-if="year >= '2017' || !(contest.substr(0,10) == 'Provincial') " ui-sref="tasklist.page({tag: 'año:' + year + ',certamen:' + contest, pageNum: 1})" class="label btn-info">
            <i class="fa fa-tag"></i>
            {{contest}}
          </a>
          </td>
      </tr>
      </table>
  </div>

  <p> </p>
 
  <p>No hay cargados provinciales anteriores a 2017, pues en ese año se realizaron por primera vez los provinciales oficiales unificados entre varias regiones.</p>
</div>
