<div>
  <div class="jumbotron" style="margin-top:-20px">
    <div class="container">
       <h1>Preguntas frecuentes</h1>
       <h2>¿Cualquiera puede utilizar el OIAJ?</h2>
       <p>¡Sí! Cualquiera puede registrarse libremente, con solo seleccionar <cite>Registrarse</cite> en la barra superior, y luego de completar los datos, se puede ingresar y salir del sistema a través de la correspondiente opción en la parte superior derecha.</p>
       <h2>Ya me registré e ingresé. ¿Ahora qué hago?</h2>
       <p>Recomendamos enviar como primer problema el problema <a href="/#/task/a_mas_b">A+B</a>, para asegurarse de que todo el sistema funciona correctamente y de que se entiende el mecanismo para enviar las soluciones. En dicho problema, se debe leer y escribir a la <strong>entrada y salida estándar</strong> (lo que normalmente es <q>leer del teclado</q> y <q>escribir a la pantalla</q>).</p>
       <p>En cada problema, el enunciado especificará cómo se deben leer y escribir los datos: podría leerse y escribirse de un <strong>archivo</strong>, o bien se podría indicar una <strong>función</strong> a implementar, que ya reciba los datos y devuelva el resultado: en dichos problemas, <strong>no</strong> se debe incluir una función <strong>main</strong> en el caso de C++; y en el caso de Pascal, se debe enviar una <strong>unidad&nbsp;(unit)</strong>, y no un programa&nbsp;(program). En estos casos, se proveerán <strong>adjuntos</strong> además del enunciado, con un ejemplo minimalista de la función que se debe implementar.</p>
       <h2>¿Por dónde comienzo si no tengo mucha experiencia en la programación competitiva?</h2>
       <p>Dentro del archivo de enunciados, es posible buscar problemas por <a href="/#/tags">categoría</a>. Estas categorías generalmente se corresponden con las técnicas que podrían utilizarse para resolver los problemas, y existe también una categoría <a href="/#/tasks/1?tag=tema:Principiante">principiante</a>, con los problemas del sitio más adecuados para los que están comenzando.</p>
       <h2>Olvidé mi contraseña y no puedo ingresar. ¿Qué hago?</h2>
       <p>Contactarse con el administrador del sitio para reiniciar la contraseña: oiajuez@gmail.com</p>
       <h2>¿Se puede utilizar Java para resolver los problemas?</h2>
       <p>El sistema permite utilizar Java (por el momento, con un compilador previo a Java 8). A menos que el enunciado explicite otra cosa, se debe entregar el archivo con una única clase pública cuyo nombre sea igual al nombre del problema en minúscula (como aparece en la barra de direcciones del navegador), que tenga el método main correspondiente.</p>
       <h2>Resolví un problema, pero me pregunto si se podrá hacer más fácil o mejor. ¿Puedo ver la solución de otros usuarios?</h2>
       <p>Sí: basta para ello ingresar al perfil del usuario correspondiente, y hacer clic en el problema deseado de su lista de problemas intentados, para acceder a una lista de todos los envíos de ese usuario en ese problema. Otra opción es consultar por el problema en el <a href="http://foro.oia.unsam.edu.ar">foro</a> de la OIA, buscando o creando un tema en la categoría &quot;problemas&quot;.</p>
       <h2>¿Los puntajes que obtengo en el juez online son los puntajes reales que hubiera obtenido en la competencia real donde se utilizó el problema?</h2>
       <p><strong>No</strong>. Hay varios motivos por los cuales esto no ocurre, <strong>algunos</strong> de los cuales son:
          <ul>
              <li>Los <strong>casos de prueba</strong> pueden ser completamente diferentes. Esto es especialmente cierto para las competencias más antiguas. También se podrían haber agregado casos adicionales al juez online, o incluso quitado o modificado los existentes.</li>
              <li>Los <strong>puntajes</strong> asignados a cada caso de prueba pueden ser diferentes. </li>
              <li>Los <strong>tiempos de ejecución</strong> generalmente no son iguales a los usados en la prueba real correspondiente, y aunque lo fueran, generalmente se utilizan distintas versiones de los compiladores, y el hardware utilizado es diferente, con lo cual los tiempos no son comparables.</li>
              <li>En el caso del OIAJ, la evaluación es realizada <strong>de manera completamente automática</strong> por el servidor, sin intervención humana. En una prueba real, los jurados pueden revisar el código fuente de los participantes, y por ejemplo, asignar cero puntos a soluciones que no intentan resolver el problema, y que únicamente imprimen la salida del caso de ejemplo, o imprimen siempre <q>Imposible</q>.</li>
          </ul></p>
       <h2>Obtengo cero puntos, pero creo que mi programa debería resolver al menos el ejemplo, o al menos los casos más chicos. ¿Por qué puede ser?</h2> 
       <p>El motivo más común para esto es no estar leyendo y escribiendo la entrada y salida de la forma indicada en el enunciado (por ejemplo, utilizar entrada y salida estándar, cuando se debe usar archivos <q>.in</q> y <q>.out</q>).</p>
       <h2>¿Todos los problemas valen lo mismo?</h2> 
       <p><strong>No</strong>. Si bien todos los problemas se puntúan entre 0 y 100, a la hora de calcular el puntaje total de un usuario (que determina su posición en el <em>ranking</em>), el valor total de cada problema depende del certamen donde se utilizó:
          <table>
          <tr><th>Certamen / Nivel</th><th>Puntaje</th></tr>
          <tr><td>Tutorial / Principiantes</td><td style='text-align: right'>10</td></tr>
          <tr><td>Nivel 1 - Provincial</td><td style='text-align: right'>75</td></tr>
          <tr><td>Nivel 1 - Nacional</td><td style='text-align: right'>100</td></tr>
          <tr><td>Nivel 2 - Provincial</td><td style='text-align: right'>150</td></tr>
          <tr><td>Nivel 2 - Nacional</td><td style='text-align: right'>200</td></tr>
          <tr><td>Nivel 3 - Provincial</td><td style='text-align: right'>225</td></tr>
          <tr><td>Nivel 3 - Nacional</td><td style='text-align: right'>300</td></tr>
          <tr><td>Selectivo</td><td style='text-align: right'>400</td></tr>
          <tr><td>CIIC</td><td style='text-align: right'>500</td></tr>
          <tr><td>IOI</td><td style='text-align: right'>1000</td></tr>
          </table>
       </p>
    </div>  
  </div>
</div>

