<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form class="form-horizontal" role="form" ng-submit="submit()" name="signupform">
        <fieldset>
          <legend>{{'Login data' | l10n}}</legend>
          <div class="form-group" ng-class="{'has-error': signupform.username.$dirty && isBad['username']}">
            <label class="col-sm-4 control-label" for="username1">{{'Username' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" maxlength="15" autocomplete="off" type="text" id="username1" name="username" ng-model="user.username" ng-change="checkUsername()"/>
              <span class="help-block" ng-show="signupform.username.$dirty && isBad['username']">{{errorMsg['username'] | l10n}}</span>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.password.$dirty && isBad['password']}">
            <label class="col-sm-4 control-label" for="password1">{{'Password' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" autocomplete="off" type="password" id="password1" name="password" ng-model="user.password" ng-change="checkPassword(); matchPassword()"/>
              <span class="help-block" ng-show="signupform.password.$dirty && isBad['password']">{{errorMsg['password'] | l10n}}</span>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.password2.$dirty && isBad['password2']}">
            <label class="col-sm-4 control-label" for="password2">{{'Confirm password' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" autocomplete="off" type="password" id="password2" name="password2" ng-model="user.password2" ng-change="matchPassword()"/>
              <span class="help-block" ng-show="signupform.password2.$dirty && isBad['password2']">{{errorMsg['password2'] | l10n}}</span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{'Personal data' | l10n}}</legend>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="firstname">{{'First name' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" maxlength="30" autocomplete="off" type="text" id="firstname" ng-model="user.firstname"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="lastname">{{'Last name' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" maxlength="30" autocomplete="off" type="text" id="lastname" ng-model="user.lastname"/>
            </div>
          </div>
          
          
          <!-- OIA SPECIFIC INFORMATION (New database fields)
          -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="oiaescuela">{{'Institute' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" maxlength="50" autocomplete="off" type="text" id="oiaescuela" ng-model="user.oiaescuela"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="oiaciudad">{{'City' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" maxlength="50" autocomplete="off" type="text" id="oiaciudad" ng-model="user.oiaciudad"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label" for="oiaprovincia">{{'Province' | l10n}}</label>
            <div class="col-sm-6">
              <select class="form-control" type="text" id="oiaprovincia" ng-model="user.oiaprovincia">
				    <option value="CABA">CABA</option>
					<option value="Buenos Aires">Buenos Aires</option>
					<option value="Catamarca">Catamarca</option>
					<option value="Chaco">Chaco</option>
					<option value="Chubut">Chubut</option>
					<option value="Córdoba">Córdoba</option>
					<option value="Corrientes">Corrientes</option>
					<option value="Entre Ríos">Entre Ríos</option>
					<option value="Formosa">Formosa</option>
					<option value="Jujuy">Jujuy</option>
					<option value="La Pampa">La Pampa</option>
					<option value="La Rioja">La Rioja</option>
					<option value="Mendoza">Mendoza</option>
					<option value="Misiones">Misiones</option>
					<option value="Neuquén">Neuquén</option>
					<option value="Río Negro">Río Negro</option>
					<option value="Salta">Salta</option>
					<option value="San Juan">San Juan</option>
					<option value="San Luis">San Luis</option>
					<option value="Santa Cruz">Santa Cruz</option>
					<option value="Santa Fe">Santa Fe</option>
					<option value="Santiago del Estero">Santiago del Estero</option>
					<option value="Tierra del Fuego, Antártida e Islas del Atlántico Sur">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
					<option value="Tucumán">Tucumán</option>
		      </select>
            </div>
          </div>
          
          
          
          <div class="form-group" ng-class="{'has-error': signupform.email.$dirty && isBad['email']}">
            <label class="col-sm-4 control-label" for="email1">{{'E-mail address' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" autocomplete="off" type="text" id="email1" name="email" ng-model="user.email" ng-change="checkEmail(); matchEmail()"/>
              <span class="help-block" ng-show="signupform.email.$dirty && isBad['email']">{{errorMsg['email'] | l10n}}</span>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.email2.$dirty && isBad['email2']}">
            <label class="col-sm-4 control-label" for="email2">{{'Confirm e-mail' | l10n}}</label>
            <div class="col-sm-6">
              <input class="form-control" autocomplete="off" type="text" id="email2" name="email2" ng-model="user.email2" ng-change="matchEmail()"/>
              <span class="help-block" ng-show="signupform.email2.$dirty && isBad['email2']">{{errorMsg['email2'] | l10n}}</span>
            </div>
          </div>
        </fieldset>
        <div class="form-group" ng-if="cm.getContest().is_captcha_enabled" >
          <div class="col-sm-offset-4 col-sm-6"
            vc-recaptcha
            ng-model="user.recaptcha_response"
            key="{{contestManager.getContest().recaptcha_public_key}}"
          ></div>
        </div>
        <div class="form-group">
          <p style="text-align: center;"><strong>AL REGISTRARSE, ACEPTA Y RECONOCE QUE TODO EL MATERIAL (COMO CÓDIGO FUENTE) QUE SUBA AL SITIO SE CONSIDERA PÚBLICO.</strong></p> <p style="text-align: center;"><strong> EN PARTICULAR, ACEPTA Y RECONOCE QUE CUALQUIER OTRO USUARIO PUEDE DESCARGAR E INSPECCIONAR LA TOTALIDAD DE SU CÓDIGO FUENTE LIBREMENTE.</strong></p> <p style="text-align: center;"><strong>EL USO DEL OIAJ ES COMPLETAMENTE VOLUNTARIO, Y SU FIN ÚLTIMO ES LA EDUCACIÓN Y CAPACITACIÓN DE TODOS SUS USUARIOS.</strong></p>
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-default">{{'Sign up' | l10n}}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6 hidden-xs">
      <legend>{{'User profile preview' | l10n}}</legend>
      <div class="user-preview well well-lg col-sm-offset-1 col-sm-9 col-md-offset-2 col-md-8">
        <div class="avatar-wrapper">
          <img src="//gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=identicon&s=200" class="avatar img-thumbnail"/>
          <img src="images/loader.gif" class="avatar-loader"/>
        </div>
        <h2>{{{true: user.username, false: '(nombre de usuario)'}[user.username.length > 0]}}</h2>
        <span class="nome-cognome">
          {{{true: user.firstname, false: '(nombre)'}[user.firstname.length > 0] | lowercase}} {{{true: user.lastname, false: '(apellido)'}[user.lastname.length > 0] | lowercase}}
        </span>
      </div>
    </div>
  </div>
</div>
