<div class="container">
  <div ng-if="tags.length < 1" class="not-found-msg">{{'no tags' | l10n}}</div>
  <div class="tag-group">
    <ul>
        <li ng-repeat="tag in tags">
            <span class="tag-group-item" >
              <a ui-sref="tasklist.page({tag: tag, pageNum: 1})" class="label btn-info">
                <i class="fa fa-tag"></i>
                {{tag.name}}
              </a>
              &nbsp;
              {{tag.description}}
            </span>
        </li>
    </ul>
  </div>
</div>
